
<div class="row"> 
    <div class="col-md-2">
        Organisation Specicalism
    </div>
    <div class="form-control containeritem col-md-4">
        @foreach (var item in @ViewBag.listOrgSpec)
        {
            <div class="checkbox">
                <label><input type="checkbox" name="listOrgSpec" value="@item.Value" checked="@item.Selected" />@item.Text<br /></label>
            </div>
        }
    </div>
    <div class="col-md-2">
        Service Personal Circumstances Capabilities
    </div>
    <div class="form-control containeritem col-md-4">
        @foreach (var item in @ViewBag.listSerPers)
        {
            <div class="checkbox">
                <label><input type="checkbox" name="listSerPers" value="@item.Value" checked="@item.Selected" />@item.Text<br /></label>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        Service Disabilities Capabilities
    </div>
    <div class="form-control containeritem col-md-4">
        @foreach (var item in @ViewBag.listSerDis)
        {
            <div class="checkbox">
                <label><input type="checkbox" name="listSerDis" value="@item.Value" checked="@item.Selected" />@item.Text<br /></label>
            </div>
        }
    </div>
    <div class="col-md-2">
        Service Ethnicity Capabilities
    </div>
    <div class="form-control containeritem col-md-4">
        @foreach (var item in @ViewBag.listSerEth)
        {
            <div class="checkbox">
                <label><input type="checkbox" name="listSerEth" value="@item.Value" checked="@item.Selected" />@item.Text<br /></label>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        Service Barriers Capabilities
    </div>
    <div class="form-control containeritem col-md-4">
        @foreach (var item in @ViewBag.listSerBarri)
        {
            <div class="checkbox">
                <label><input type="checkbox" name="listSerBarri" value="@item.Value" checked="@item.Selected" />@item.Text<br /></label>
            </div>
        }
    </div>
    <div class="col-md-2">
        Accreditation
    </div>
    <div class="form-control containeritem col-md-4">
        @foreach (var item in @ViewBag.listAccr)
        {
            <div class="checkbox">
                <label><input type="checkbox" name="listAccr" value="@item.Value" checked="@item.Selected" />@item.Text<br /></label>
            </div>
        }
    </div>
</div>

<div class="row">
    <div class="col-md-2">
        Service Benefits Capabilities
    </div>
    <div class="form-control containeritem col-md-4">
        @foreach (var item in @ViewBag.listSerBene)
        {
            <div class="checkbox">
                <label><input type="checkbox" name="listSerBene" value="@item.Value" checked="@item.Selected" />@item.Text<br /></label>
            </div>
        }
    </div>
</div>