@model ServiceDirectory.Models.tblTeam

<style>
    .table th, .table td {
        border-top: none !important;
        padding:5px;
    }
</style>

<table class="table">
    <tr>
        <td width="20%;">
            <label class="btn-block"> Team Name</label>
            <input type="hidden" name="TeamID" value="@Model.TeamID"/>           
        </td>
        <td width="30%;">
            @Html.EditorFor(model => model.TeamName, new { @class = "btn-block" })
        </td>
        <td width="20%;">
            <strong>Type of Business</strong>
        </td>
        <td width="30%;">
            <input type="text" id="team_business_type" disabled="disabled" value="@Model.tblBusinessType.BusinessName" />
            <a href="#">  Lookup</a>
            <input type="hidden" name="BusinessID" value="@Model.BusinessID"/>
        </td>
    </tr>

    <tr>
        <td rowspan="2">
            <strong>Team Short Description</strong>
        </td>
        <td rowspan="2">
            @Html.TextAreaFor(model => model.ShortDescription, new { @class = "btn-block"})
        </td>
        <td>
            <strong>SIC Code</strong>
        </td>
        <td>
            <input type="text" readonly="readonly" name="siccode" disabled="disabled" value="@Model.tblBusinessType.SICCode"/>
        </td>
    </tr>
    <tr>
        <td></td>
        <td></td>
    </tr>
    <tr>
        <td>
            <strong>Lead Contact</strong>
        </td>
        <td>
            <input type="text" readonly="readonly" disabled="disabled" value="@Model.tblContact.FirstName @Model.tblContact.Surname" />
            <a href="#">  Lookup</a>
            <input type="hidden" name="ContactID" value="@Model.ContactID" />
        </td>
        <td rowspan="2">
            <strong>Team Full Description</strong>
        </td>
        <td rowspan="2">
            @Html.TextAreaFor(model => model.FullDescription, new { @class = "btn-block" })
        </td>
    </tr>
    <tr>
        <td>
            <strong>Copy Address from</strong>
        </td>
        <td>
            <input type="radio" name="copy_address" id="team_organisation"/> Orgnisation
            <input type="radio" name="copy_address" id="team_parent" /> Parent
        </td>
    </tr>
    <tr>
        <td>
            <strong>Address Line 1</strong>
        </td>
        <td>
            <input type="text" name="AddressLine1" class="btn-block" value="@Model.AddressLine1" />
        </td>
        <td>
            <strong>Phone Number</strong>
        </td>
        <td>
            @Html.EditorFor(model => model.PhoneNumber, new {@class="btn-block" })
        </td>
    </tr>
    <tr>
        <td>
            <strong>Address Line 2</strong>
        </td>
        <td>
            <input type="text" name="AddressLine2" class="btn-block" value="@Model.AddressLine2" />
        </td>
        <td>
            <strong>Fax</strong>
        </td>
        <td>
            <input type="text" name="Fax" class="btn-block" value="@Model.Fax" />
        </td>
    </tr>

    <tr>
        <td><strong>Address Line 3</strong></td>
        <td>
            <input type="text" name="AddressLine1" class="btn-block" value="@Model.AddressLine3" />
        </td>
        <td><strong>Email</strong></td>
        <td>
            <input type="text" name="Email" class="btn-block" value="@Model.Email" />
        </td>
    </tr>

    <tr>
        <td><strong>Postcode</strong></td>
        <td>
            <input type="text" readonly="readonly" disabled="disabled" value="@Model.tblAddress.PostCode" />
            <a href="#">  Lookup</a>
            <input type="hidden" name="AddressID" value="@Model.AddressID" />
        </td>
        <td><strong>Web Address</strong></td>
        <td>
            <input type="text" name="WebAddress" class="btn-block" value="@Model.WebAddress" />
        </td>
    </tr>

    <tr>
        <td><strong>City/Town</strong></td>
        <td>
            <input type="text" readonly="readonly" class="btn-block" value="@Model.tblAddress.tblTown.TownName" />
        </td>
    </tr>

    <tr>
        <td><strong>County</strong></td>
        <td>
            <input type="text" readonly="readonly" class="btn-block" value="@Model.tblAddress.tblTown.tblCounty.CountyName" />
        </td>
    </tr>

    <tr>
        <td><strong>Nation/Country</strong></td>
        <td>
            <input type="text" readonly="readonly" class="btn-block" value="@Model.tblAddress.tblTown.tblCounty.tblCountry.CountryName" />
        </td>
    </tr>
</table>