@model PagedList.IPagedList<ServiceDirectory.Models.tblTeam>
@using PagedList.Mvc;

<table class="table table-bordered table-striped">
    <tr class="label-info">
        <th class="col-md-2">Team Name</th>
        <th class="col-md-3">Address Line 1</th>
        <th class="col-md-1">Postcode</th>
        <th class="col-md-2">Contact</th>
        <th class="col-md-2">is Active</th>
        <th class="col-md-2">Action</th>
    </tr>
    <tbody id="supporting_material_list_item">
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    @item.TeamName
                </td>
                <td>
                    @item.AddressLine1
                </td>
                <td>
                    @if(@item.AddressID != null)
                    {
                        @item.tblAddress.PostCode
                    }                    
                </td>
                <td>
                    @if(@item.ContactID != null)
                    {
                        @item.tblContact.FirstName @item.tblContact.Surname
                    }
                </td>
                <td>
                    @if(@item.IsActive.Value == true)
                    {
                        <label>Yes</label>
                    }
                    else
                    {
                        <label>No</label>
                    }
                </td>
                <td>
                    @if(@item.IsActive == false)
                    {
                        @Ajax.ActionLink("Edit", "Add_ActionLink", "MaintainTeam", new { TeamID = @item.TeamID },
                                                            new AjaxOptions { UpdateTargetId = "team_popup", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnComplete = "set_attr_link_popup('edit_team_link_" + @item.TeamID + "', 'team_popup', 'department_popup')", Confirm = "Do you want to make this Team active?" })
                    }
                    else
                    {
                        @Ajax.ActionLink("Edit", "Add_ActionLink", "MaintainTeam", new { TeamID = @item.TeamID },
                                                            new AjaxOptions { UpdateTargetId = "team_popup", InsertionMode = InsertionMode.Replace, HttpMethod = "POST", OnComplete = "set_attr_link_popup('edit_team_link_" + @item.TeamID + "', 'team_popup', 'department_popup')" });
                    }

                    |
                    <!-- After delete will update list item -->
                    @Ajax.ActionLink("Delete", "Delete_ActionLink", new { TeamID = @item.TeamID, page = @Model.PageNumber },
                                      new AjaxOptions { UpdateTargetId = "team_table", InsertionMode = InsertionMode.Replace, Confirm = "Do you really want to delete it?" })

                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
    @Html.PagedListPager(Model, page => Url.Action("GetListTeams", new { page }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { UpdateTargetId = "team_table", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" }))
</div>

