@model ServiceDirectory.Models.tblDepartment

<script src="~/Scripts/jquery.validate.unobtrusive.js"></script>

@using (Ajax.BeginForm("InsertUpdate_Department", "MaintainDepartment",
    new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "id_department_message", InsertionMode = InsertionMode.Replace }))
{
    <div class="modal-dialog modal-lg" style="width:950px;">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <font color="blue">Organisation</font> > <font color="blue">Directorate</font> >
                </div>
                <h4><font color="green" size="5">Department Details</font></h4>
            </div>

            <div class="modal-body">
                <div class="nav">
                    <ul class="nav nav-tabs col-md-4">
                        <li class="active"><a href="#department_tab" data-toggle="tab">Details</a></li>
                        <li><a href="#team_tab" data-toggle="tab">Teams</a></li>
                    </ul>

                    <div class="col-md-2 col-sm-offset-4" style="padding-left:70px;">
                        @Ajax.ActionLink("In-active", "MakeInActive", "MaintainDepartment", new { IsActive = false, DepartmentID = @ViewBag.DepartmentID }, new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "id_department_message", Confirm = "Do you want to make this Department in-active?" }, new { @class = "btn btn-default"})
                    </div>

                    <div class="col-md-1">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                    <div class="col-md-1">
                        @Ajax.ActionLink("Back", "GetListDepartments", "MaintainDepartment", new { page = -1 }, new AjaxOptions { UpdateTargetId = "department_table", InsertionMode = InsertionMode.Replace, HttpMethod = "POST" }, new { @class = "btn btn-default", @id = "maintain_department_edit_back" })
                    </div>
                </div>

                <div class="tab-content table-bordered">
                    <div class="tab-pane active" id="department_tab">
                        @Html.Action("Details", "MaintainDepartment", new { DepartmentID = @ViewBag.DepartmentID })
                    </div>
                    <div class="tab-pane" id="team_tab">
                        @Html.Action("Index", "MaintainTeam", new { DepartmentID = @ViewBag.DepartmentID })
                    </div>
                </div>
                <div id="id_department_message">
                    <!-- Message after call action here -->
                </div>
                <div>
                    @Html.ValidationMessageFor(model => model.DepartmentName)
                    @Html.ValidationMessageFor(model => model.ShortDescription)
                    @Html.ValidationMessageFor(model => model.FullDescription)
                    @Html.ValidationMessageFor(model => model.PhoneNumber)
                    @Html.ValidationMessageFor(model => model.Email)
                    @Html.ValidationMessageFor(model => model.Fax)
                    @Html.ValidationMessageFor(model => model.WebAddress)
                </div>
            </div>
        </div>
    </div>
}

<script>
    $(document).ready(function () {
        $('#maintain_department_edit_back').attr('data-dismiss', 'modal');
    })
</script>