@model PagedList.IPagedList<ServiceDirectory.Models.tblContact>
@using PagedList.Mvc;

<!-- Table -->
<table class="table table-bordered">
    <thead>
        <tr>
            <td></td>
            <th>Contact Name</th>
            <th>Mobile Phone</th>
            <th>Email</th>
            <th>Contact Type</th>
            <th>Is Active</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    <input type="radio" name="contact" value="@item.ContactID">
                    <input type="hidden" id="@item.ContactID" value="@item.FirstName @item.Surname"/>
                </td>
                <td>
                    @item.FirstName @item.Surname
                </td>
                <td>
                    @item.MobilePhone
                </td>
                <td>
                    @item.Email
                </td>
                <td>
                    @if (item.tblReferenceDatas != null)
                    {
                        ServiceDirectory.Models.tblReferenceData temp = item.tblReferenceDatas.ToList().Find(t => t.RefCode == 8);

                        if (temp != null)
                        {
                            <label>@temp.RefValue</label>
                        }
                    }

                </td>
                <td>
                    @Html.Raw(@item.IsActive)
                </td>
                <td>
                    @Ajax.ActionLink("Edit", "Add_ActionLink", "MaintainContact", new { ContactID = @item.ContactID }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "myAddModal", OnComplete = "set_attr_contact_edit_action_link" }, new { @id = "edit_maintain_contact" })
                    |
                    @Ajax.ActionLink("Delete", "Delete_ActionLink", "MaintainContact", new { ContactID = @item.ContactID, page = @Model.PageNumber }, new AjaxOptions { InsertionMode = InsertionMode.Replace, HttpMethod = "POST", UpdateTargetId = "maintain_contact_table" })

                </td>
            </tr>
        }

    </tbody>
</table>

Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
@Html.PagedListPager(Model, page => Url.Action("GetListItems", new { page, Surname = @ViewBag.Surname, FirstName = @ViewBag.FirstName, Check = @ViewBag.Check }), PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing(new AjaxOptions { UpdateTargetId = "maintain_contact_table", HttpMethod = "POST", InsertionMode = InsertionMode.Replace }))

<div>
    @ViewBag.Message
</div>