@model ServiceDirectory.Models.tblProgramme

<link href="~/Content/css/css.css" rel="stylesheet" />
<div class="row" style="margin:0px">
    <table class="table" style="margin-top:10px; font-weight:bold">
        <tr>
            <td class="col1">
                @Html.LabelFor(model => model.ProgrammeName, "Programme Name") <font color="red">*</font>
            </td>
            <td class="col2">                
                @Html.TextBoxFor(model => model.ProgrammeName, new { @class = "btn-block" })
                @Html.ValidationMessageFor(model => model.ProgrammeName)
                <input type="hidden" value="@Model.ProgrammeID" name="ProgrammeID" />
            </td>
            <td class="col1">
                Contact          
            </td>
            <td class="col2">
                @if(Model.ContactID != null)
                {
                    <input type="text" id="ContactName" readonly="readonly" disabled="disabled" value="@Model.tblContact.FirstName @Model.tblContact.Surname" style="width:170px" />
                }
                else
                {
                    <input type="text" id="ContactName" readonly="readonly" disabled="disabled" value="" style="width:170px" />
                }
                
                @Ajax.ActionLink("lookup", "Index", "MaintainContact", new { area = "" }, new AjaxOptions { UpdateTargetId = "lookup", HttpMethod = "POST", InsertionMode = InsertionMode.Replace, OnComplete = "set_attr_link_popup('lead_contact_lookup', 'lookup', '')" }, new { @id = "lead_contact_lookup" })
                <input type="hidden" name="ContactID" id="ContactID" />
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(model => model.ProgrammeDescription, "Description")</td>
            <td>
                @Html.TextAreaFor(model => model.ProgrammeDescription, new { @class = "btn-block"})
            </td>
            <td></td>
            <td></td>
        </tr>
    </table>
</div>

<script>

    // define maintain_contact_select() for service lookup
    function maintain_contact_select() {
        var selected = $("input[name='contact']:checked").val(); // get id of selected
        var name = $("#" + selected).val(); // get name of id

        $('#ContactID').val(selected);
        $('#ContactName').val(name);
    }
</script>